.heading{
text-align:center;
font-family: Impact,'Arial Narrow Bold', sans-serif;
font-weight: bold;
text-decoration: underline;
text-decoration-color: black;
padding: 25px;
}

.css{
    text-align: center;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid black;
    border-width: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
margin-left: 85px;
margin-right: 85px;
margin-bottom: 30px;
border-radius: 8px;
background-color: #FCD4E2; 
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.git{
    text-align: center;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid black;
    border-width: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
margin-left: 85px;
margin-right: 85px;
margin-bottom: 30px;
border-radius: 8px;
background-color: #FCD4E2; 
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.shortcuts{
    text-align: center;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid black;
    border-width: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
margin-left: 85px;
margin-right: 85px;
margin-bottom: 30px;
border-radius: 8px;
background-color: #FCD4E2; 
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.buttons:hover{
    background-color: #FC8E44;
    color: white;
    transition-duration: 0.6s;
    border: solid black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.buttons{
    text-align: center;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid #FC8E44;
    border-width: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
margin-left: 85px;
margin-right: 85px;
margin-bottom: 30px;
border-radius: 8px;
background-color: #ffffff; 

.buttons{
    text-align: center;
}


.h2{
    text-align: left;
font-weight: bold ;
}

.body{
    background-color: bisque;
}