.body{
    background-color: #B0C4DE;
}

.heading{
text-align:center;
font-family: Impact,'Arial Narrow Bold', sans-serif;
font-weight: bold;
text-decoration: underline;
text-decoration-color: white;
padding: 25px;
}

.buttons:hover{
    background-color: #FC8E44;
    color: white;
    transition-duration: 0.6s;
    border: solid black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.buttons{
    text-align: center;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid #FC8E44;
    border-width: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
margin-left: 85px;
margin-right: 85px;
margin-bottom: 30px;
border-radius: 8px;
background-color: #ffffff; 
}

.nexttocss{
    
    
    padding-left: 1075px;
    margin-left:0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.backtomainpage{
    padding-bottom: 0px;
    padding-right: 1015px;
    margin-left:0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.cheat{
    text-align: center;
    text-shadow: black;
    border: 2px;
    border-style: solid;
    border-radius:25px;
    border-width: 5px;
    margin-left: 300px;
    margin-right: 300px;
    text-decoration: underline;
    text-decoration-color: black;
    border-color: solid black;
    background-color: white;
}



.box1{
    border: solid black;
    margin-left: 550px;
    margin-right: 50px;
    margin-top: 50px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: paleturquoise;
}

.box2{
    border: solid black;
    margin-left: 50px;
    margin-right: 550px;
    margin-top: 50px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 20px;
    padding-left: 20px;
    background-color:#ffc6af ;
}

.box3{
    border: solid black;
    margin-left: 550px;
    margin-right: 50px;
    margin-top: 50px;
    padding-top: 35px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 35px;
    text-align: left;
    background-color: #bdffc5;
}

.imghtml{
    margin-left: 50px;
    margin-right: 10px;
 margin-bottom: 25px;
 margin-top: 50px ;
 border: solid black;
}
.imgcss{
    border: solid black;
    margin-left: 550px;
    margin-right: 50px;
    margin-top: 50px;
   
}

.body2{
    background-image: url(https://images4.alphacoders.com/862/thumb-1920-862984.png);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  
}


table, th, td{
    border: solid black;
    background-color: white; 
    border-collapse: collapse;
    background-color: rgb(247, 202, 247);
} 

.example{
border: solid black;
margin-left: 50px;
margin-right: 50px;
margin-top: 30px;
padding-top: 35px;
padding-bottom: 35px;
padding-right: 20px;
padding-left: 20px;
background-color: palegoldenrod;
}
.size{
    text-align: center;
}

.center{
    text-align: center;
}

.table{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.task1{
    background-color: turquoise;
}

.task{
    background-color: paleturquoise;
}

.keystroke1{
    background-color:palegreen ;
}

.keystroke{
    background-color:#bdffc5 ;
}

.result1{
    background-color:#ffa885 ;
}

.result{
    background-color:#ffc6af  ;
}
.imgcpu{
    margin-left: 325px;
    margin-right: 200px;
}